In [14]:
import pandas as pd
import sqlite3

In [2]:
df = pd.read_csv('C:/Users/Admin/OneDrive/Escritorio/JonasLuna_TPintegrador/CLIMA/datos/raw/clima_2025-04-30_11-47.csv')
df

,Ciudad,Fecha y Hora,Temperatura,Sensación Térmica,Humedad,Presión,Clima,Descripción
0,Buenos Aires,2025-04-30 11:35:41,20.08,19.68,59,1018,Despejado,Cielo despejado
1,Córdoba,2025-04-30 11:40:25,21.52,20.95,47,1013,Despejado,Cielo despejado
2,Santa Fe,2025-04-30 11:38:03,21.66,21.34,56,1015,Despejado,Cielo despejado
3,Mendoza,2025-04-30 11:36:53,17.74,16.82,48,1009,Despejado,Cielo despejado
4,Salta,2025-04-30 11:37:58,16.43,16.22,80,1013,Nublado,Nubes rotas
5,Entre Rios,2025-04-30 11:42:32,34.58,36.45,40,1010,Nublado,Nubes dispersas
6,San Luis,2025-04-30 11:47:09,22.32,21.68,41,1010,Nublado,Nubes dispersas
7,San Juan,2025-04-30 11:45:01,21.23,20.35,36,1009,Nublado,Nubes rotas
8,Neuquén,2025-04-30 11:45:17,11.94,10.60,54,1011,Despejado,Cielo despejado
9,La Rioja,2025-04-30 11:47:11,16.88,15.96,51,1012,Nublado,Nubes dispersas
10,Misiones,2025-04-30 11:45:44,21.04,20.45,48,1013,Nublado,Nubes dispersas

In [ ]:
conn = sqlite3.connect("C:/Users/Admin/OneDrive/Escritorio/JonasLuna_TPintegrador/CLIMA/datos/analisis.db")
df_ciudades = pd.read_sql_query("SELECT * FROM resumen_clima", conn)
df_global = pd.read_sql_query("SELECT * FROM resumen_global", conn)


df_ciudades = pd.concat([df['Ciudad'], df_ciudades], axis=1)
df_ciudades = df.drop(df.columns[-1], axis=1)
df_ciudades

,Ciudad,Fecha y Hora,Temperatura,Sensación Térmica,Humedad,Presión,Clima
0,Buenos Aires,2025-04-30 11:35:41,20.08,19.68,59,1018,Despejado
1,Córdoba,2025-04-30 11:40:25,21.52,20.95,47,1013,Despejado
2,Santa Fe,2025-04-30 11:38:03,21.66,21.34,56,1015,Despejado
3,Mendoza,2025-04-30 11:36:53,17.74,16.82,48,1009,Despejado
4,Salta,2025-04-30 11:37:58,16.43,16.22,80,1013,Nublado
5,Entre Rios,2025-04-30 11:42:32,34.58,36.45,40,1010,Nublado
6,San Luis,2025-04-30 11:47:09,22.32,21.68,41,1010,Nublado
7,San Juan,2025-04-30 11:45:01,21.23,20.35,36,1009,Nublado
8,Neuquén,2025-04-30 11:45:17,11.94,10.60,54,1011,Despejado
9,La Rioja,2025-04-30 11:47:11,16.88,15.96,51,1012,Nublado
10,Misiones,2025-04-30 11:45:44,21.04,20.45,48,1013,Nublado

In [13]:
try:
    cursor = conn.cursor()
    cursor.execute("ALTER TABLE resumen_clima ADD COLUMN Ciudad TEXT")
except sqlite3.OperationalError as e:
    if "duplicate column name" in str(e):
        print("La columna 'Ciudad' ya existe en la tabla 'resumen_clima'.")
    else:
        raise 

for idx, valor in enumerate(df["Ciudad"]):
    cursor.execute("""
        UPDATE resumen_clima
        SET Ciudad = ?
        WHERE rowid = ?
    """, (valor, idx + 1))

conn.commit()
conn.close()

La columna 'Ciudad' ya existe en la tabla 'resumen_clima'.